.navbar {
	background-color: #38c0ca;
}

.navbar-container {
	margin: 0 auto;
	max-width: 1280px;
	padding: 0 8px;
}

.navbar-inner {
	display: flex;
	height: 80px;
	align-items: center;
	justify-content: space-between;
}

.navbar-left {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
}
