.navbar {
	background-color: #e0f7fa;
}

.navbar-container {
	margin: 0 auto;
	max-width: 1230px;
	padding: 0 8px;
	border-bottom: 1px solid #000000;
}

.navbar-inner {
	display: flex;
	height: 80px;
	align-items: center;
	justify-content: space-between;
}

.navbar-left {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
}
