.query-container {
	display: flex;
	align-items: flex-end;

	background: #7aa2ff;
	border: 1px solid #111827;
	padding: 0.5rem;
	border-radius: 0.75rem;
}

.query-input {
	flex: 1; /* takes remaining space */
	padding: 0.5rem 1rem;
	font-size: 1rem;
	box-sizing: border-box;

	resize: none;
	overflow-y: hidden;

	border: none;
	background: #7aa2ff;

	outline: none;
	transition:
		border 0.2s,
		box-shadow 0.2s;
}

.query-input::placeholder {
	color: #1f2937;
}

.query-button {
	font-size: 1rem;
	font-weight: 500;

	padding: 0.75rem 1.5rem;
	background-color: #1f2937;
	border: 1px solid #7aa2ff;
	border-radius: 8px;
	color: #7aa2ff;
	cursor: pointer;
	transition: 0.2s;
}

.queryButton:hover {
	background-color: #1d4ed8;
}

.queryButton:active {
	transform: scale(0.97);
}

.button-icon {
	width: 100%;
	transform: rotate(45deg);

	margin-right: 0.25rem;
}

.spin {
	animation: spin 1.5s linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
