html,
body {
	height: 100%; /* make sure page can take full height */
	margin: 0;
}

.homePage {
	background-color: #e0f7fa;
	display: flex;
	flex-direction: column;
	height: 100vh; /* allows page to grow taller than viewport */
}

.responseViewer {
	flex: 1; /* take all available space */
	overflow-y: auto; /* scroll if content exceeds */
	box-sizing: border-box;
}

.queryFormContainer {
	flex-shrink: 0;
	box-sizing: border-box;
}
