.home {
	display: flex;
	height: 100vh;
}

/* LEFT SIDE */
.sidebar {
	width: 250px;
	background-color: #1b243d;
	border-right: 1px solid #000000;
	color: white;
	padding: 1rem;
}

/* Title section */
.sidebar-header {
	padding: 1rem;
	font-weight: bold;
	color: #7aa2ff;
}

.chat-list {
	flex: 1; /* fills remaining space */
	overflow-y: auto; /* scrolls independently */
	padding: 0.5rem;
	color: #7aa2ff;
}

/* RIGHT SIDE */
.main-content {
	display: flex;
	flex: 1;
	position: relative;
	flex-direction: column;
	height: 100vh;
	background-color: #1f2b47;
}

.query-form {
	width: 100%; /* stretch to fill container */
	max-width: 800px; /* don’t exceed container width */
	margin: 0 auto; /* center horizontally */
	box-sizing: border-box;
	display: flex;
}

.query-form.center {
	flex: 1;
	justify-content: center;
	align-items: center;
}

.query-form.bottom {
	position: fixed;
	bottom: 0;
	left: 250px; /* matches sidebar width */
	right: 0;
}

.response-viewer {
	flex: 1;
	overflow-y: hidden;
}
